body{
    text-align: center;
}
.main{
    position: relative;
    background-size: cover;
    background-image: url("./images/bg5.jfif");
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;   
}
#statement{
    color: white;
    font-size: larger;
    border: .1rem solid white;
    display: none;
    height: 2rem;
    width: 15rem;
    margin-left: 41%;
}

.container{
    display: flex;
    justify-content: center;
}
#header{
    font-size: xx-large;
    color: white;
    padding: 5rem 5rem;
    padding-bottom: 5rem;
    

}
#dice1,#dice2{
    height: 6rem;
    padding: 3rem;
    margin-top: 2rem;
}
#ply1{
    display: inline;
    margin-right: 13%;
    color: white;
    font-size: x-large;
}
#ply2{
    font-size: x-large;
    color: white;
}
#btn{
    display: block;
    margin: auto;
    margin-bottom: 3rem;
  
    padding: .5rem 1rem .5rem 1rem;
    border: 0.4rem;
    border-radius: .5rem;
    color: red;
    background-color: beige;
}
