body{
    text-align: center;
}
.main{
    position: relative;
    /* opacity: ; */
    /* width: 20px; */
    background-size: cover;
    background-image: url("./images/bg5.jfif");
    margin: auto;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    
    
}
#statement{
    color: white;
}

.container{
    display: flex;
    justify-content: center;
}
#header{
    font-size: x-large;
    color: white;
    padding: 3rem 4rem;
}
#dice1,#dice2{
    height: 3rem;
    padding: 3rem;
}
#btn{
    display: block;
    margin: auto;
    margin-bottom: 3rem;
}
#ply1{
    display: inline;
    margin-right: 13%;
    color: white;
}
#ply2{
    color: white;
    /* display: inline; */
}
#btn{
    padding: .5rem .9rem .5rem .9rem;
    border: 0.4rem;
    border-radius: .5rem;
    color: red;
    background-color: beige;
}
