body{
    text-align: center;
    margin: 0;
    padding: 0;
}
.main{
    position: relative;
    background-size: cover;
    background-image: url('https://images.unsplash.com/photo-1579546929518-9e396f3cc809?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8ZmFkZWQlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fA%3D%3D&w=1000&q=80');
    height: 750px;
    background-position: center;
    background-repeat: no-repeat;   
}
#statement{
    color: black;
    font-size: larger;
    border: .1rem solid black;
    display: none;
    height: 2rem;
    width: 15rem;
    margin-left: 41%;
}

.container{
    display: flex;
    justify-content: center;
}
#header{
    font-size: xx-large;
    color: black;
    padding: 5rem 5rem;
    padding-bottom: 5rem;
    

}
#dice1,#dice2{
    height: 6rem;
    padding: 3rem;
    margin-top: 2rem;
}
#ply1{
    display: inline;
    margin-right: 13%;
    color: black;
    font-size: x-large;
}
#ply2{
    font-size: x-large;
    color: black;
}
#btn{
    display: block;
    margin: auto;
    margin-bottom: 3rem;
  
    padding: .5rem 1rem .5rem 1rem;
    border: 0.4rem;
    border-radius: .5rem;
    color: red;
    background-color: beige;
}
